.arrow{
  color: white;
  position: absolute;
  bottom:   20px;
}

.navbar{
  border-style:none;
}

.event{
  max-width: 100%;
  max-height: 40px;
}

.white{
  color: white;
}



/*cornor ribbon*/
.cr {
  width: 120px;
  padding: 10px;
  position: absolute;
  text-align: center;
}

.cr p{
  display: inline;
  color: white;
  letter-spacing: 2px;
}

.cr-sticky {
  position: fixed;
}

/* Positions */
.cr-top    { top: 0px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: 0px; }
.cr-right  { right: 0px; }

/* Colors */
.cr-upcoming   { background-color: #02c53c; }
.cr-past      { background-color: #C53C02; }


.sponsor-logos{
  padding-bottom: 75px;
  text-align: center;
}

.sponsor-logos a, .hvr-grow{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.sponsor-logos a:hover, .sponsor-logos a:focus, .sponsor-logos a:active, .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sponsor-logos a img {
    vertical-align: middle;
}

.sponsor-logos .platinum a img {
    max-height: 300px;
    max-width: 300px;
    margin: 1.5em;
}

.sponsor-logos .gold a img {
    max-height: 250px;
    max-width: 250px;
    margin: 1.5em;
}
.sponsor-logos .silver a img {
    max-height: 200px;
    max-width: 200px;
    margin: 1.5em;
}
.sponsor-logos .bronze a img {
    max-height: 150px;
    max-width: 150px;
    margin: 1.5em;
}
.sponsor-logos .other a img {
    max-height: 100px;
    max-width: 100px;
    margin: 1.5em;
}

.contact-icon{
  padding-top: 36px;
}

.contact-icon i{
  padding-right:20px;
  color: white;
}
