html, body {
	width: 100%;
	height: 100%;
	font-family: 'Maven Pro', sans-serif;
}

.navbar {
	background-color: #101010;
	border: 0;
}

.navbar-toggle {
	border-color: #f7f7f7 !important;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
	background-color: #101010 !important;
}

.icon-bar {
	background-color: #f7f7f7 !important;
}

.page-scroll {
	color: #f7f7f7 !important;
	cursor: pointer;
}

.navbar-nav .page-scroll {
	font-size: 1.25em;
	font-weight: 400;
}

.navbar-brand {
	font-size: 1.5em;
	font-weight: 500;
	font-family: 'Aldrich', sans-serif;
}

.navbar-brand .color1 {
	color: #827BBE !important;
}

.navbar-brand .color2 {
	color: #CCC !important;
}

.active .page-scroll {
	background-color: #f7f7f7 !important;
	color: #101010 !important;
}

.navbar-collapse {
	border: 0;
}

@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.top-nav-collapse {
		padding: 0;
	}
}

#about p {
	font-size: 1.5em;
}

@media(max-width: 767px) {
	#about p {
		font-size: 1.25em;
	}
}

.register-button {
	float: left;
}

.btn-close {
	float: right;
}

#team .member {
	padding: 32px;
	height: 300px;
}

@media(min-width:1200px) {
	#team .member {
		height: 350px;
	}
}

@media(max-width: 767px) {
	#team .member {
		padding: 16px;
		height: 450px;
	}
}

@media(max-width: 725px) {
	#team .member {
		padding: 16px;
		height: 400px;
	}
}

@media(max-width: 625px) {
	#team .member {
		padding: 16px;
		height: 350px;
	}
}

@media(max-width: 525px) {
	#team .member {
		padding: 16px;
		height: 300px;
	}
}

@media(max-width: 425px) {
	#team .member {
		padding: 8px;
		height: 250px;
	}
}

#team .member img {
	width: 100%;
}

#team .member h3,
#team .member h4 {
	margin: 0;
}

.event-container {
	margin-bottom: 8px;
}

.event {
	padding: 8px;
	background-color: #6d65b3;
	color: white;
	cursor: default;
	border-radius: 8px;
}

.event.confirmed {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	background-color: #383267;
	cursor: pointer;
}

.event.confirmed:hover,
.event.confirmed:focus {
	background-color: #252244;
}

@media(min-width:767px) {
	#events .modal p {
		font-size: 1.2em;
	}
}

.sponsor-images {
	margin-bottom: 32px;
}

.sponsor-images img {
	margin: 16px;
	vertical-align: middle;
	max-height: 200px;
}

#faq h4 {
	margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 14px;
	}
	h5 {
		font-size: 12px;
	}
	p {
		font-size: 12px;
	}
}

section {
	min-height: 100%;
}

.about-section,
.team-section,
.faq-section {
	background: #fff;
	padding-top: 150px;
}

.events-section,
.sponsors-section,
.contact-section {
	background: #f7f7f7;
	padding-top: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 150%;
}

h1 {
	margin-bottom: 32px;
}

a {
	text-decoration: none !important;
	color: black !important;
	font-weight: bolder;
	word-wrap: break-word;
}

.carousel,
.item,
.active,
.carousel-inner {
	height: 100%;
}

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.bg1 {
	background-image: -webkit-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg1.jpg');
	background-image: -o-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg1.jpg');
	background-image: -moz-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg1.jpg');
	background-image: linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg1.jpg');
}

.bg2 {
	background-image: -webkit-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg2.jpg');
	background-image: -o-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg2.jpg');
	background-image: -moz-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg2.jpg');
	background-image: linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg2.jpg');
}

.bg3 {
	background-image: -webkit-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg3.jpg');
	background-image: -o-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg3.jpg');
	background-image: -moz-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg3.jpg');
	background-image: linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg3.jpg');
}

.bg4 {
	background-image: -webkit-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg4.jpg');
	background-image: -o-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg4.jpg');
	background-image: -moz-linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg4.jpg');
	background-image: linear-gradient(rgba(22, 22, 53, 0.7), rgba(22, 22, 53, 0.7)), url('../images/bg4.jpg');
}

.btn-circle {
	width: 70px;
	height: 70px;
	padding: 12px 12px;
	border: 2px solid #fff;
	border-radius: 100% !important;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	z-index: 10;
}

.btn-circle:hover,
.btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}

.btn i {
	display: block;
	text-align: center;
}

.glyphicon-menu-left,
.glyphicon-menu-right {
	display: inline-block;
	position: absolute;
	top: 50%;
	z-index: 5;
	color: #fff;
}

.carousel-overlay {
	position: absolute;
	left: 50%;
	z-index: 15;
	width: 60%;
	height: 100%;
	padding-left: 0;
	margin-left: -30%;
}

.carousel-overlay h1 {
	position: absolute;
	width: 100%;
	color: #fff;
	top: 33%;
	font-size: 5em;
}

.carousel-overlay .btn-container {
	position: absolute;
	width: 100%;
	color: #fff;
	bottom: 100px;
}

@media screen and (max-width: 767px){
	.carousel-overlay h1 {
		position: absolute;
		width: 100%;
		color: #fff;
		font-size: 30px;
	}

	.carousel-overlay .btn-container {
		position: absolute;
		width: 100%;
		color: #fff;
		bottom: 20px;
	}
}

::selection {
  text-shadow: none;
  background: #8080ff;
}
::-moz-selection {
  text-shadow: none;
  background: #8080ff;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
